<footer>
    <p class="footer-paragraph">&copy; 2022 Danijel Crepic Development</p>
    <form>
        <input type="text" placeholder="email address" required>
        <button type="submit">Subscribe</button>
    </form>
    <a href="/contact" class="footer-contact-link">Contact</a>
    <a href="/api" target="_blank">API Documentation</a>
</footer>

<script type="text/javascript" src="/javascript/script.js"></script>
</body>
</html>