<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="YREtjvymNyvZEjNN0UKqD8Z9J52IM0o6oX82wvvoIXM" />
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/0d47fb2970.js" crossorigin="anonymous"></script>
    <title>Business Registry</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="logo-img"></div>
    <header class="grid-container-header">
        <a href="/home">Home</a>
        <a href="/contact">Contact</a>
        <!-- </header> -->