node_modules/
config/config.env
config_vars_updated.md

# aws IaC
aws_terraform/keys
aws_terraform/vm_infrastructure/.terraform*
aws_terraform/vm_infrastructure/terraform.tfs*
aws_terraform/vm_infrastructure/keys
aws_terraform/eks_infrastructure/.terraform*
aws_terraform/eks_infrastructure/terraform.tfs*
aws_terraform/eks_infrastructure/keys

