/* https://www.w3schools.com/css/css3_box-sizing.asp */

:root {
    --orange: #FF3F00;
    --purple: #8E2657;
    --yellow: #FAFF00;
    --gray: #EEEEEE;
    --red: #FF0000;
    --blue: #000249;
    --black: #000000;
    --lightblack: #423F3E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

h3 {
      padding-top: 0.7rem;
      padding-bottom: 0.5rem;
  }

p {
    padding-bottom: 0.9rem;
}

/* Prevent changing the backround color and text color when the browser suggests autofill */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--lightblack) inset;
    -webkit-text-fill-color: var(--gray);
  }

/* Prevent changing the style on iPhone */
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

body {
    /* background-color: var(--lightblack); */
    background-image: linear-gradient(to right, #3d3d3d, #2c3e50);
    position: relative;
    padding-bottom: 202px;
    min-height: 100vh;
}

.landing-image {
    background: url("/uploads/landing-small-2.jpg");
    width: 100%;
    height: 84vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.landing-image h3 {
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.landing-image .register-btn {
    background-color: #ffffff;
    font-size: 0.8rem;
    opacity: 0.7;
}

div.grid-item-form a.register-btn-home {
    margin-bottom: 1rem;
}

.landing-image p {
    color: #ffffff;
}

.landing-image div.grid-item-form {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: auto;
}

header {
    /* background-color: var(--black); */
    background-image: linear-gradient(to right, #2c2c2c, #233241);
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

header a {
    color: var(--gray);
    text-decoration: none;
    font-size: 1rem;
    margin-right: 0.5rem;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

header a:hover {
    color: var(--red);
    /* background-color: var(--lightblack); */
    background-color: #2c3e50;
}

.on-click-a {
    color: var(--red);
    background-color: #2c3e50;
}

.cart-btn-disable {
    pointer-events: none;
}

.grid-container-header {
    display: grid;
    grid-row-gap: 10px;
    text-align: center;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-evenly;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background-color: var(--black); */
    background-image: linear-gradient(to right, #222222, #1c2835);
    color: #EEEEEE;
    text-align: center;
    padding-top: 1.7rem;
    padding-bottom: 1.5rem;
    font-size: 1rem;
}

.footer-paragraph {
    padding-bottom: 0;
}

footer form input {
    background-color: inherit;
    border: 1px solid var(--black);
    padding: 0.5rem;
    width: 50%;
    color: var(--gray);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer form button {
    background-color: var(--black);
    border: 1px solid var(--black);
    padding: 0.5rem;
    width: 50%;
    color: var(--gray);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

footer form button:hover {
    color: var(--red);
}

footer form input:focus {
    outline: none;
}

footer a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--gray);
}

footer a:hover {
    text-decoration: underline;
}

/* footer form {
    display: flex;
} */

/* Home Page */
section {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

section a {
    color: var(--gray);
    text-decoration: none;
    /* background-color: var(--lightblack); */
    background-image: linear-gradient(to right, #3d3d3d, #2c3e50);
    border-radius: 0.5rem;
    font-size: 0.8rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

section a:hover, .comment-form-container input.new-comment-btn:hover {
    /* background-color: var(--black); */
    background-image: linear-gradient(to right, #000000, #434343);
    color: var(--red);
}

.grid-container-section {
    display: grid;
    grid-row-gap: 10px;
    text-align: center;
    grid-template-columns: 95%;
    justify-content: space-evenly;
}

.grid-item {
    /* background-color: rgba(255,0,0,0.8); */
    background-image: linear-gradient(to right, #333333, #dd1818);
    padding-top: 0.7rem;
    padding-bottom: 0.9rem;
    border-radius: 0.9rem;
    display: grid;
    grid-row-gap: 20px;
    text-align: center;
    grid-template-columns: 90%;
    justify-content: center;
}

.grid-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Trade route */
.trade-image {
    background: url("/uploads/trade-small.jpg");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.trade-info-section {
    padding-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.trade-info-section h2 {
    padding-bottom: 0.7rem;
    color: var(--red)
}

.trade-info-section p {
    color: var(--gray);
}

.trade-info-section p span {
    color: var(--red);
}

/* Social icons */
.trade-info-section i {
    font-size: 2rem;
    margin-right: 1.5rem;
    color: white;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;
}

.trade-info-section i:hover, .my-contact-info-container i:hover {
    color: var(--red);
    transform: rotate(20deg);
}

.my-contact-info-container h3 span, .my-contact-info-container p span {
    color: var(--red)
}

.my-contact-info-container i {
    font-size: 1.5rem;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: white;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;
}

.trade-review {
    background-color: var(--gray);
    font-size: 0.7rem;
    border-radius: 1rem;
    width: 90%;
    padding: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: auto;
    margin-right: auto;
}

.trade-review p {
    padding-bottom: 0;
}

.trade-review-title {
    padding-left: 1rem;
    color: var(--black);
}

.trade-review-text {
    margin-top: 0.5rem;
    color: var(--lightblack);
}

.trade-review-author {
    text-align: right;
    padding-right: 4em;
    color: var(--red);
}

.comment-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.comment-form-container-item {
    width: 60%;
}

.comment-form-container input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
}

.comment-rating-input {
    width: 15%;
    margin-bottom: 0.5rem;
}

.comment-rating-div {
    display: flex;
    flex-direction: row;
}

.comment-form-container label {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5rem;
    color: var(--gray);
}

.comment-form-container input.new-comment-btn {
    display: block;
    /* background-color: var(--lightblack); */
    background-color: inherit;
    border: 2px solid var(--black);
    border-radius: 0;
    cursor: pointer;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

textarea.new-comment-textarea {
    border: 2px solid var(--black);
    /* background-color: var(--lightblack); */
    background-color: inherit;
    padding: 0.3rem;
    color: var(--gray);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

textarea.new-comment-textarea:focus, .comment-form-container-item:focus, .comment-rating-input:focus {
    outline: none;
}

#comment-form input#rating {
    width: 14%;
}

#comment-form input#title {
    width: 60%;
}

/* Contact page */

.contact-container {
    display: grid;
    grid-template-columns: auto;
    border-radius: 50%;
}

.my-contact-info-container {
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 40px;
}

.my-contact-info-container h3 {
    padding-bottom: 1rem;
    padding-top: 0;
    width: 100%;
}

.my-contact-info-container span.span-company-name {
    display: block;
    width: 100%;
}

.google-map {
    width: 100%;
    height: 69%;
    /* border: none; */
    border: 1px solid var(--lightblack);
    border-radius: 2px;
}

.form-image {
    background: url("/uploads/letter-small.jpg");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-container {
    display: grid;  
    margin-top: 40px;
    margin-bottom: 40px;
}

.grid-item-form {
    display: grid;
    justify-content: center;
    grid-template-columns: 70%;
    text-align: center;
}

.grid-item-form h3 {
    color: var(--gray);
    margin-bottom: 0.5rem;
}

.grid-item-form label {
    color: var(--gray);
}

.grid-item-form input, .comment-form-container input {
    border: none;
    /* background-color: var(--lightblack); */
    background-color: inherit;
    border-bottom: 2px solid var(--black);
    border-radius: 0;
    color: var(--gray);
    width: 100%;
}

.grid-item-form textarea {
    border: 2px solid var(--black);
    /* background-color: var(--lightblack); */
    background-color: inherit;
    margin-bottom: 40px;
    padding: 0.3rem;
    color: var(--gray);
    width: 100%;
}

.grid-item-form input:focus, .grid-item-form textarea:focus {
    outline: none;
}

.grid-item-form input.input-submit-btn, .grid-item-form a.register-btn {
    border: 2px solid var(--black);
    cursor: pointer;
    height: 40px;
    width: 50%;
    margin:auto;
}

.grid-item-form input.input-submit-btn:hover, .grid-item-form a.register-btn:hover {
    /* background-color: var(--black); */
    background-image: linear-gradient(to right, #000000, #434343);
    color: var(--red);
}


/* Login Page */
.login-image {
    background: url("/uploads/login-small.jpg");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.grid-item-form p.login-paragraph {
    padding-top: 0.9rem;
}

.grid-item-form a.register-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--gray);
    /* background-color: var(--lightblack); */
    background-color: inherit;
}

/* Register Page */
.register-image {
    background: url("/uploads/register-small.jpg");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Cart Image */
.cart-image {
    background: url("/uploads/cart-small.jpg");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

 /* Proffesions Page */
 .grid-item-proffesions {
    background-color: rgba(255,0,0,0.8);
    padding-top: 0.7rem;
    padding-bottom: 0.9rem;
    border-radius: 0.9rem;
    display: grid;
    grid-row-gap: 10px;
    align-content: center;
    text-align: center;
    grid-template-columns: 90%;
    justify-content: center;
}

.grid-item-proffesions h3 {
    color: var(--gray);
}

.grid-item-proffesions p {
    font-weight: bolder;
}

/* Add to cart btn */
.add-to-cart-btn {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.cart-container {
    display: grid;
    grid-template-columns: 90%;
    justify-content: space-around;
}

.cart-container-first-child {
    border-radius: 0.5rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cart-container h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    font-size: 1rem;
    color: var(--gray);
}

.cart-container p {
    text-align: right;
    padding: 0.5rem 3rem 0.5rem 0;
    background-color: rgba(247, 247, 247, 0.5);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.cart-container a {
    color: var(--lightblack);
}

.cart-container a:hover {
    color: var(--black);
}

.minus-plus {
    display: inline-block;
    padding-left: 0.5rem;
}

.item-count {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.child-grid-container {
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    padding-bottom: 1rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.child-grid-container input {
    border: none;
    background-color: var(--black);
    /* background-image: linear-gradient(to right, #000000, #434343); */
    padding: 0.6rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--gray);
    cursor: pointer;
    font-weight: 900;
}

.cart-container input:hover {
    /* background-image: linear-gradient(to right, #3d3d3d, #2c3e50); */
    /* background-image: linear-gradient(to right, #000000, #434343); */
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--red);
}

.cart-container input:focus {
    outline: none;
}

.added-to-basket-popup {
    font-size: 0.7rem;
    display: none;
    border: solid 2px var(--black);
    border-radius: 0.5rem;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: var(--gray);
    color: var(--black);
    opacity: 0.8;
}

/* Landing Page */
.landing-page-btn {
    background-color: var(--lightblack) !important;
}

@media (max-width: 1050px) and (min-width: 750px) {
    .cart-container p {
        font-size: 1rem;
        width: 70%;
    }
}

@media (min-width: 1050px) {
    .cart-container p {
        font-size: 1rem;
        width: 40%;
    }
}

@media (min-width: 751px) {
    .cart-container {
        grid-template-columns: 80%;
        justify-content: center;
    }

    .cart-container h2 {
        font-size: 1.2rem;
    }

    .child-grid-container {
        width: 50%;
    }

    .contact-container {
        display: grid;
        grid-template-columns: 50% 45%;
    }

    .my-contact-info-container {
        text-align: left;
        margin-top: 40px;
    }

    .google-map {
        height: 77%;
    }
}

@media (min-width: 768px) {

    body {
        padding-bottom: 152px;
    }
    /* For desktop: */
    .landing-image {
        background: url("/uploads/landing-large.jpg");
        width: 100%;
        height: 87vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .landing-image h3 {
        font-size: 2rem;
    }

    .grid-container-section, article.grid-container-section {
        grid-row-gap: 20px;
        grid-template-columns: 45% 45%; 
        justify-content: space-evenly;
    }

    .grid-container-header {
        justify-content: end;
        grid-template-columns: 10% 10% 10% 10%;
    }

    .grid-item {
        grid-template-columns: 45% 45%;
        grid-row-gap: 0;
        grid-template-rows: 180px;
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    .grid-item-child-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-item img {
        width: 150px;
        height: 150px;
    }

    .grid-item-child h3, .grid-item-child p, .grid-item-child a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-item-child a {
        margin-bottom: 0.7rem;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .grid-item-child p {
        color: white;
    }

    .grid-item-child h3 {
        color: lightcyan;
        text-shadow: 2px 2px 8px var(--black);
    }

    /* Trade page */
    .trade-image {
        background: url("/uploads/trade-large.jpg");
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .trade-info-section {
        padding-left: 4rem;
    }
    .trade-review {
        width: 60%;
    }

    .trade-review:nth-child(odd) {
        margin-left: 8rem;
      }
    
    .trade-review:nth-child(even) {
        margin-left: 4rem;
      }

    /* Contact Page */
    #contact-form div.grid-item-form {
        grid-template-columns: 80%;
    }

    .form-image {
        background: url("/uploads/letter-large.jpg");
        width: 100%;
        height: 370px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }


    /* Login Page */
    .login-image {
        background: url("/uploads/login-medium.jpg");
        width: 100%;
        height: 420px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .grid-item-form {
        grid-template-columns: 40%;
    }

    /* Register Page */
    .register-image {
        background: url("/uploads/register-large.jpg");
        width: 100%;
        height: 475px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /* Cart Image */
    .cart-image {
        background: url("/uploads/cart-large.jpg");
        width: 100%;
        height: 475px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.6;
    }

    /* Comment form */
    .comment-form-container-item {
        width: 40%;
    }

    .grid-item-form input, .comment-form-container input {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.3rem;
    }

    .grid-item-form textarea {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .comment-form-container input.new-comment-btn { 
        width: 14%;
    }

    #comment-form input#title {
        width: 14%;
    }

    .add-to-cart-btn {
        width: 30%;
    }

    /* Footer */
    footer form input {
        padding: 0.5rem;
        width: 13%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    footer form button {
        padding: 0.5rem;
        width: 10%;
        display: inline;
        margin-left: 0;
        margin-right: 0;
    }
  }

  @media (min-width: 1420px) {
    .my-contact-info-container span.span-company-name {
        display: inline;
        width: 100%;
    }
  }