<%- include('partials/header'); -%>

<% if (user) { %>
    <a href="/logout">Logout</a>
<%} else { %>
    <a href="/login">Login</a>
<% } %>
</header>


<section>
<h1>About Page</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas corrupti perspiciatis doloremque cumque beatae, consectetur eum, vitae molestias consequatur minima nemo quidem. Quod maiores, laudantium esse quibusdam hic ipsam dicta!</p>

<% if (!user) { %>
<div class="grid-item-form">
    <p>To Login or register click <a href="/login" class="register-btn">here</a></p>
</div>
<% } %>
</section>

<%- include('partials/footer'); -%>