<%- include('partials/header'); -%>

<% if (user) { %>
    <a href="/logout">Logout</a>
<%} else { %>
    <a href="/login">Login</a>
<% } %>
</header>

<h1>Error Page Page</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas corrupti perspiciatis doloremque cumque beatae, consectetur eum, vitae molestias consequatur minima nemo quidem. Quod maiores, laudantium esse quibusdam hic ipsam dicta!</p>

<div class="error-image">


    <div class="grid-item-form">

    <h3 class="error-h3">You want to learn how to bake cookies, mix coctails, sear the perfect steak, dance or just reister your hospitality business then:</h3>
    <a href="/login" class="register-btn">Login Here</a>
    <p class="login-paragraph">OR</p>
    <a href="/register" class="register-btn">Register Here</a>


    </div>

 </div>
<%- include('partials/footer'); -%>