<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Place your kit's code here -->
     <script src="https://kit.fontawesome.com/0d47fb2970.js" crossorigin="anonymous"></script>
    <title>Business Registry</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header class="grid-container-header"></header>

<div>
    <h4>Thanks for registering</h4>
    <h2>Your confirmation email is on the way. Check your mail</h2>
</div>

  

  

<%- include('partials/footer'); -%>